<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4"
		style="width: 48rem; align-content: center;">
		<div class="card bg-light" style="align-content: center;">
			<div class="card-header" style="align-content: center;"
				th:text="${titulo}"></div>
			<div class="card-body" style="align-content: center;">
				<form th:action="@{/crearArtist}" th:object="${eArtist}"
					method="post">
					<div class="container py-4">
						<div class="form-group d-flex justify-content-center row">
							<label class="col-sm-4 col-form-label">Nombre</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{name}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
							</div>
						</div>
						<div class="form-group d-flex justify-content-center row">
							<label class="col-sm-4 col-form-label">Año</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{year}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></small>
							</div>
						</div>
						<div class="form-group d-flex justify-content-center row">
							<label class="col-sm-4 col-form-label">Estilos</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{listStyles}"
									multiple="multiple">
									<option th:each="styles : ${session.listStyles}"
										th:value="${styles.id}" th:utext="${styles.name}" />
								</select>
							</div>
						</div>
						<div class="form-group d-flex justify-content-center row">
							<label class="col-sm-4 col-form-label">Personas</label>
							<div class="col-sm-6">
								<select th:field="*{listMembers}" class="form-control"
									multiple="multiple">
									<option th:each="members : ${session.listMembers}"
										th:value="${members.id}" th:utext="${members.name}" />
								</select>
							</div>
						</div>
						<div class="form-group d-flex justify-content-center row">
							<input type="submit" value="Crear" th:name="crear"
								th:value="Crear" class="btn btn-primary " />
						</div>
					</div>
					<input type="hidden" th:field="*{id}" />
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>