<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4"
		style="width: 48rem; align-content: center;">
		<div class="background">
			<div class="transbox">
				<h1 style="font-size: 3vw; align-content: center;">Bienvenidos a Musify, donde la
					música fluye.</h1>
			</div>
		</div>
	</div>



	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>