<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4" style="width: 48rem; align-content: center;">
		<div class="card bg-light"
			style="align-content: center;">
			<div class="card-header" style="align-content: center;"
				th:text="${titulo}"></div>
			<div class="card-body" style="align-content: center;">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Año</th>
							<th>Estilos</th>
							<th>Artistas relacionados</th>
							<th>Eliminar</th>
					</thead>
					<tbody>
						<tr th:each="artist: ${eArtist}">
							<td th:text="${artist.id}" hidden="true"></td>
							<td th:text="${artist.name}"></td>
							<td th:text="${artist.year}"></td>
							<td th:text="${artist.listStyles}"></td>
							<td th:text="${artist.listArtistRelated}"></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/editArtist/} + ${artist.id} + '/' + ${1} + '/' + ${2}" th:text="'Eliminar'"></a></td>							
						</tr>
					</tbody>					
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>