<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">				
				<p>
					<a th:href="@{/editStyles}" class="btn btn-success btn-xs">Crear
						Styles</a>
				</p>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="styles: ${styles}">
							<td th:text="${styles.id}"></td>
							<td th:text="${styles.name}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/editStyles/} + ${styles.id}" th:text="'Editar'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/eliminar/} + ${styles.id}" th:text="'Eliminar'"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>