<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4" style="width: 48rem; align-content: center;">
		<div class="card bg-light"
			style="align-content: center;">
			<div class="card-header" style="align-content: center;"
				th:text="${titulo}"></div>
			<div class="card-body" style="align-content: center;">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Años</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="people: ${ePeople}">
							<td th:text="${people.id}" hidden="true"></td>
							<td th:text="${people.name}"></td>
							<td th:text="${people.years}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/editPeople/} + ${people.id}" th:text="'Editar'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/deletePeople/} + ${people.id}" th:text="'Eliminar'"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>