<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4"
		style="width: 48rem; align-content: center;">
		<div class="card bg-light" style="align-content: center;">
			<div class="card-header" style="align-content: center;"
				th:text="${titulo}"></div>
			<div class="card-body" style="width: 48rem; align-content: center;">
				<form th:action="@{/editArtist}" th:object="${eArtist}"
					method="post">
					<div class="container py-4">
						<div class="form-group d-flex justify-content-center row">
							<label class="col-sm-4 col-form-label">Nombre</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{name}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
							</div>
						</div>
						<div class="form-group d-flex justify-content-center row">
							<label class="col-sm-4 col-form-label">Año</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{year}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></small>
							</div>
						</div>
						<div class="form-group d-flex justify-content-center row" th:if="${isRelated!=1}">
							<label class="col-sm-4 col-form-label">Estilos</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{listStyles}"
									multiple="multiple">
									<option th:each="styles : ${session.listStyles}"
										th:value="${styles.id}" th:utext="${styles.name}" />
								</select>
							</div>
						</div>
						<div class="form-group d-flex justify-content-center row" th:if="${isRelated!=1}">
							<label class="col-sm-4 col-form-label">Gente</label>
							<div class="col-sm-6">
								<select th:field="*{listMembers}" class="form-control"
									multiple="multiple">
									<option th:each="members : ${session.listMembers}"
										th:value="${members.id}" th:utext="${members.name}" />
								</select>
							</div>
						</div>
					</div>
					<div class="container py-4">
						<table class="table table-striped" th:if="${eStyles!=NULL}">
							<thead>
								<tr>
									<th>Estilos</th>									
								</tr>
							</thead>
							<tbody>
								<tr th:each="styles: ${eStyles}">
									<td th:text="${styles.id}" hidden="true"></td>
									<td th:text="${styles.name}"></td>																
								</tr>
							</tbody>
						</table>
					</div>
					<div class="container py-4" th:if="${isRelated!=1}">
						<table class="table table-striped" th:if="${ePeople!=NULL}">
							<thead>
								<tr>
									<th>Gente Asociada</th>
									<th>Años</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="people: ${ePeople}">
									<td th:text="${people.id}" hidden="true"></td>
									<td th:text="${people.name}"></td>
									<td th:text="${people.years}"></td>								
								</tr>
							</tbody>
						</table>

					</div>
					<div class="container py-4">
						<table class="table table-striped" th:if="${eRelated!=NULL}">
							<thead>
								<tr>
									<th>Artistas Relacionados</th>
									<th>Eliminar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="related: ${eRelated}">
									<td th:text="${related.id}" hidden="true"></td>
									<td th:text="${related.name}"></td>
									<td><input id="idCheckedRelated"
										th:name="idCheckedRelated" th:value="${related.id}"
										type="checkbox" /></td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="form-group d-flex justify-content-center row">
						<input type="submit" value="Editar" th:name="editar"
							th:value="Editar" class="btn btn-primary " />
					</div>
					<input type="hidden" th:field="*{id}" />
					<input th:if="${isRelated==1}" type="hidden" th:name="artistRelated" th:value="1" />
					<input th:if="${isRelated!=1}" type="hidden" th:name="artistRelated" th:value="2" />
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>